div#strava-helper-kudos-all-button {
    z-index: 1000;
    position: fixed;
    top: 9px;
    left: 9px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

div#strava-helper-kudos-all-button:hover {
    background: #eee;
    border: 2px solid #fff;
}

div#strava-helper-kudos-all-button.strava-helper-kudos-all-button-result {
    font-size: 12px;
    font-weight: normal;
    -moz-animation-duration: 0.5s;
}

section.others-section div.veloviewer {
    margin-left: 1em;
}

section.others-section div.veloviewer div.labs-logo img {
    height: 8px;
}

div.sh-separator {
    width: 100%;
    height: 2px;
    background-color: #FC4C02;
    -moz-animation-duration: 0.25s;
}
